/* Start Global rules */

/* styling for scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset -3px -3px 12px -3px white, 3px 3px 12px 3px black;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-color);
  border-radius: 10px;
}

:root {
  --background-color: #2b2d2f;
  --main-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  color: var(--main-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

button {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  background-color: var(--background-color);
  color: var(--main-color);
  border: none;
  gap: 20px;
  box-shadow: -3px -3px 12px -3px white, 3px 3px 12px 3px black;
}

/* Small */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global rules */

header {
  margin-top: 15px;
  margin-bottom: 15px;
}

section {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

section .container {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section .container .leader-board {
  height: 50vh;
}

section .leader-board h2 {
  display: inline;
}

section .leader-board .refresh {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

section .leader-board .board {
  overflow: auto;
  height: 100%;
  padding: 10px;
  box-shadow: -3px -3px 12px -3px white, 3px 3px 12px 3px black;
}

section .leader-board .board ul {
  list-style-type: none;
}

section .leader-board .board ul li {
  font-size: 20px;
  padding: 5px;
}

section .leader-board .board ul li.special {
  background-color: var(--main-color);
  color: var(--background-color);
}

section .add-score {
  height: 50vh;
  text-align: center;
  padding: 10px;
}

section .add-score h2 {
  padding: 10px;
}

section .add-score form {
  height: 100%;
  display: grid;
  justify-items: center;
  gap: 20px;
  box-shadow: -3px -3px 12px -3px white, 3px 3px 12px 3px black;
  align-items: center;
  align-content: center;
}

section .add-score form input {
  width: 80%;
  font-size: 26px;
  padding: 10px;
  background-color: var(--background-color);
}
